*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Ubuntu, Arial, sans-serif;
    background: linear-gradient(to right, #03224C, #301934);
    color: #d8dfe3;
}

h1, h2 {
    font-family: Ubuntu, sans-serif;
    text-align: center;
    font-size: 50px;
    color: #d8dfe3;
    margin: 50px auto 0;
    text-shadow:0 0 20px #03224C,
    2px 3px 3px #301934, 0 0 100px #8c7fd6;
    color:#d8dfe3;
}

h2 {
    font-size: 35px;
}

.container {
    display: grid;
    grid-template: repeat(3,100px) / repeat(3,100px);
    width: 300px;
    height: 300px;
    margin: 50px auto
}

.cell {
    width: 100px;
    height: 100px;
    color: #cecece;
    cursor: pointer;
    border: 1px solid #cecece;
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}